body, html{

    height:100vh;
    width:100vw !important;
    background-color: #222;

}

#main{

    padding:2em;
    width:100vw;

}

#submenu{

    background-color: #222;
    color:#ccc !important;
    text-align: center;
    margin:auto;
    height:100vh;
    /**/
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    font-size:2rem;
    /**/
}

#submenu a{

    height:4em;
    border-bottom: #555;
    border-top:#555;
    background-color: #555;

}

#menu{

  background-color: #0a0a0a;

}

#menu:hover *{

  background-color: #0a0a0a;

}

#menu menuitem:hover{

  border-color: #666;
  color:#fff!important;

}

#slidecontainer{

    height:100vh;


}

.pic-title{
    background-color:#111;
    border-top:4px solid #3a2;
    color:white;
}

::-webkit-scrollbar{
    width: 0px;
}

ul{

  background: #111 !important;

}

h3{
  height: 2em  !important;

}

h5{
  height: 4em !important;
}

h2{
  height: 1.7em !important;
}
