#navbar{
    background: rgba(0,0,0,0.7) !important;
    color: #DDD;
    padding: 0px;
    border-bottom: 1px solid #080808;
    font-family: 'PT Mono', monospace;
}

#navbar ul li a:hover{
    color: #4AA;
    border-color: #4AA;
}

#lbl{
    max-width: 100vw;
}

nav:not([class]) header:after, nav[xx] header:after{
    filter: invert(100%);
}